.header {
  height: 10vh;
  width: 100vw;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Rouge Script", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  padding-left: 30px;
}

.header__navBar {
  width: 50%;
}

.header__navBar > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navBar > ul > li {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
